/* PHASE 7: Online */

.online {
  position: absolute;
  top: -10px;
  left: -10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 30px;
  background-color:  #0c0;
  text-align: center;
  transform: rotate(-45deg) translateX(-25%);
  letter-spacing: 3px;
  box-shadow: 0 1px 0 0 #070;
}
