body {
  font-family: 'Brush Script MT', serif;
  position: relative;
}

h1, h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

h2 { top: 40px; }

.game {
  width: 90%;
  margin: auto;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: 300px;
  overflow: hidden;
}

.game:after {
  content: " ";
  clear: both;
  display: block;
}

.tower {
  display: inline-block;
  box-sizing: border-box;
  border-top: 10px black solid;
  width: 30%;
  height: 100%;
  margin: 0 1%;
  padding: 20px 0;
  position: relative;
}

.tower.selected {
  border-top: 10px red solid;
}

.disc {
  border-radius: 35px;
  height: 50px;
  vertical-align: bottom;
  margin: auto;
}

.size1 {
  background-color: magenta;
  width: 50%;
}

.size2 {
  background-color: yellow;
  width: 70%;
}

.size3 {
  background-color: blue;
  width: 90%;
}


input {
  display: block;
  border: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  bottom: 20px;
  width: 30%;
  font-size: 26px;
  font-family: 'Brush Script MT', serif;
  margin: auto;
}
