<h2>
  <%= feed.escape('title') %>
  <button type="button" class="refresh-button">Refresh Feed</button>
</h2>
<ul class="entries">
</ul>

<button type="button" class='delete-button'>Delete This Feed</button>
