<h1>All the Cats!</h1>

<ul>
  <% @cats.each do |cat| %>
  <li><%= link_to cat.name, cat_url(cat)  %></li>
  <% end %>
</ul>

<ul>
  <li><%= link_to "New Cat!", new_cat_url %> </li>
  <li><%= link_to "Rent a Cat!", new_cat_rental_request_url %></li>
</ul>
