<h1>New Comment on <%= @comment.post.title %></h1>
<form action="<%=post_comments_url(@comment.post)%>", method="post">
  <%=auth_token%>
  <textarea name="comment[content]"><%=@comment.content%></textarea>
  <br>
  <input type="submit">
</form>
